<!DOCTYPE html>
		  	<html lang="fr">
			  <head>
				 <meta name="viewport" content="width=device-width, initial-scale=1.0">
				 <meta charset="UTF-8"/>
				 <link rel="icon" type="image/png" href="img/favicon.ico">
				 <link rel="stylesheet" href="./css/main.css"/>		 
				 <title>Home</title>
			  </head>
		  		<body bgcolor="WhiteSmoke">
				  <div class="header">
					<ul>
					<li class="category"><a href="#add_dial">{{number}}</a></li>
				</ul>
			</div>
		<div class="modalLayer" id="add_dial">
			<div class="popup_block">
				<a href="#home" class="croix">&#10006;</a>
					<form method="post">
						<label>Title:</label>
						<input type="text" name="add_dial"><br />
						<input type="submit" />
					</form>
			</div>
		</div>
		<div class="container" id="conteneur">
		<div class="rang">
		<div class="content">
		<a title="Go to..." href="https://facebook.com"><img src="./img/facebook.png" /></a>
		
		<p>Exemple</p>
		</div>
			<div class="content">
			<a title="Add content..." href="#add_item"><img src="{{ asset('./img/add.svg') }}" /></a>
			<p>Add</p>
			</div>
			<div class="modalLayer" id="add_item">
			<div class="popup_block">
				<a href="#home" class="croix">&#10006;</a>
					<form method="post" id="Favoris">
						<label>Title:</label>
							<input type="text" name="title"><br />
						<label>Description:</label>
							<input type="text" name="description"><br />
						<label>url:</label>
							<input type="text" name="url"><br />
						<label>Icone:</label>
							<input type="text" name="img"><br />
							<input type="hidden" name="add_item" value="Favoris">
							<input type="submit" />
					</form>
			</div>
			</div>
	</div>
	<div class="footer">
					<ul>
						<li><a class="active" href="#home">1</a></li>
						<li><a href="#news">2</a></li>
						<li><a href="#contact">3</a></li>
						<li><a href="#about">4</a></li>
					</ul>
				</div>
			</div>
		</body>
	</html>
