body {
font-family: Arial, sans-serif;
}

table {
  width:80%;
align:center;
margin-left:auto;
margin-right:auto;
margin-top: 40px;
margin-bottom: 40px;
background-color: #f1f1f1;
}

h1 {
  margin: 0;
}

.blue {
  color: : #0080ff;
}

td{
  font-size: 1em;
}

progress{
  border: none;
  color: #0080ff;
  background: #f1f1f1;
  box-shadow:0;

}

progress::-moz-progress-bar { background: #0080ff; }
progress::-webkit-progress-value { background: #0080ff; }
progress::-webkit-progress-bar {background-color: #f1f1f1;}
