<div class="hex hex-3">
	<div class="inner">
			<h4>CONTACT US</h4>
			<hr />
			<p>We Open Everyday</p>
	</div>
	<a href="#"></a>
	<div class="corner-1"></div>
	<div class="corner-2"></div>
</div>

<!-- <div class="hex" style="background-image: url(images/2.jpg);">
	<a href="#"></a>
	<div class="corner-1"></div>
	<div class="corner-2"></div>
</div> -->

<div class="hex hex-3" style="background-image: url(assets/imgs/pc-game200.jpg);
background-position:center;
background-repeat:no-repeat;
background-size:cover;">
	<div class="inner">
			<h4>CONTACT US</h4>
			<hr />
			<p>We Open Everyday</p>
	</div>
	<a [routerLink]="['/games/pc']" routerLinkActive="router-link-active"></a>
	<div class="corner-1"></div>
	<div class="corner-2"></div>
</div>
